/* =========== defolt style */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #000000;
}
/* ====== mobile */
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section-paddings {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

/* ====== tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 758px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .section-title {
    font-size: 24px;
  }
}

/* ====== desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* ==========HERO */

/* ====== mobile */
.hero-page {
  background: #06071b;
  max-width: 320px;
  height: 568px;
  padding-top: 20px;
  position: relative;
}

.header-page {
  backdrop-filter: blur(35px);
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
  max-width: 320px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
}
.header-menu {
  display: none;
}
.hero-title {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.25);
  margin-top: 100px;
  margin-bottom: 12px;
}
.hero-description {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}
.hero-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 16px;
}
.hero-icon {
  width: 18px;
  height: 18px;
}
.hero-item {
  display: flex;
  gap: 4px;
}
.hero-item-text {
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}
.hero-button {
  border-radius: 5px;
  width: 200px;
  height: 42px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-button:hover,
.hero-button:focus {
  background: #06071b;
}
.hero-wrapper {
  position: relative;
  z-index: 2;
}
.hero-picture {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  top: 100px;
}
.hero-img {
  width: 336px;
  height: 382px;
  object-fit: contain;
}

/* ====== tablet */
@media screen and (min-width: 768px) {
  .hero-page {
    max-width: 768px;
    height: 580px;
    margin-bottom: 60px;
  }

  .header-page {
    max-width: 768px;
  }
  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-menu-link {
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .hero-title {
    font-size: 40px;
    margin-top: 60px;
  }
  .hero-description {
    font-size: 20px;
    margin-bottom: 28px;
  }
  .hero-list {
    width: 400px;
    gap: 12px;
  }
  .hero-item-text {
    font-size: 16px;
  }
  .hero-button {
    margin-top: 60px;
    margin-left: 0;
  }

  .hero-picture {
    position: absolute;
    z-index: 1;
    top: 216px;
    left: 199px;
  }
  .hero-img {
    width: 556px;
    height: 433px;
  }
}

/* ====== desktop */
@media screen and (min-width: 1280px) {
  .hero-page {
    max-width: 1280px;
    height: 684px;
    padding-top: 26px;
    margin-bottom: 50px;
  }
  .header-page {
    max-width: 1280px;
    height: 72px;
  }
  .header-menu-link {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .hero-title {
    margin-top: 145px;
  }
  .hero-picture {
    position: absolute;
    z-index: 1;
    top: 232px;
    right: 45px;
  }
  .hero-img {
    width: 895px;
    height: 533px;
  }
}

/* ==========Section 1 KEY FEATURES */
/* ====== mobile */
.features-page {
  width: 100%;
  height: 1423px;
  /* padding-top: 40px; */
  margin-bottom: 40px;
}
.features-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.features-img {
  width: 280px;
  height: 409px;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px;
}
.features-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-left: 12px;
  align-items: flex-start;
  width: 220px;
}
.features-item {
  display: flex;
}

.features-item-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.features-item-description {
  font-weight: 500;
  font-size: 14px;
  min-width: 220px;
}
/* ====== tablet */
@media screen and (min-width: 768px) {
  .features-page {
    width: 719px;
    height: 941px;
    /* padding-top: 50px; */
    margin-bottom: 80px;
  }
  .features-img {
    width: 467px;
    height: 592px;
    position: relative;
    left: -120px;
    z-index: 1;
  }
  .features-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features-list {
    position: relative;
    left: -80px;
    padding-top: 0;
  }

  .features-description {
    font-size: 16px;
    line-height: 1.5;
    max-width: 680px;
  }

  .features-item-description {
    min-width: 238px;
  }
}

/* ====== desktop */
@media screen and (min-width: 1280px) {
  .features-page {
    width: 971px;
    height: 838px;
    /* padding-top: 50px; */
    margin-bottom: 100px;
  }
  .features-description {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 886px;
  }
  .features-item-wrapper {
    min-width: 220px;
  }
  .features-img {
    width: 396px;
    height: 601px;
    position: relative;
    left: -120px;
    z-index: 1;
  }
  .features-item-wrapper {
    gap: 13px;
    padding-left: 11px;
  }
}
/* ==========Section 2 WATCH THE VIDEO */
/* ====== mobile */
.whatch-video-page {
  width: 320px;
  height: 629px;
  background: #06071b;
}
.whatch-video-paddings {
  padding-top: 20px;
  padding-bottom: 20px;
}
.whatch-video-img {
  width: 280px;
  height: 258px;
}
.whatch-video-wrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whatch-video-title {
  color: #ffffff;
  padding-bottom: 24px;
  text-align: center;
}
.whatch-video-description {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  max-width: 280px;
  padding-bottom: 24px;
  text-align: center;
}
.whatch-video-icon-box {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}
/* ====== tablet */
@media screen and (min-width: 768px) {
  .whatch-video-page {
    width: 768px;
    height: 623px;
  }
  .whatch-video-paddings {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .whatch-video-img {
    width: 401px;
    height: 258px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .whatch-video-wrapper {
    padding-top: 80px;
  }
  .whatch-video-description {
    font-size: 16px;
    color: #ffffff;
    max-width: 704px;
    padding-bottom: 40px;
  }
}
/* ====== desktop */
@media screen and (min-width: 1280px) {
  .whatch-video-page {
    width: 1278px;
    height: 402px;
    display: flex;
    justify-content: space-between;
  }
  .whatch-video-img {
    width: 501px;
    height: 282px;
    padding-right: 55px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .whatch-video-wrapper {
    padding-top: 60px;
    align-items: flex-start;
  }
  .whatch-video-title {
    padding-bottom: 20px;
    text-align: start;
  }
}
